package layouts

import "github.com/IkhwanAL/job-tracker/views/components"

templ BaseLayout(page templ.Component) {
    <!DOCTYPE html>
    <html lang="en">
        @components.Header()
        <body>
            <main id="main-content">
                @page
                @components.Footer()
            </main>
        </body>
    </html>
}