package components

templ Header() {
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/index.css" >
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Job Tracker</title>
    </head>
}