* {
    box-sizing: unset;
}

body {
    height: 95vh;
    border: 1px solid red;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
    min-width: 300px;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-group > input {
    height: 30px;
    width: 300px;
    font-weight: 14px;
}

.form-group > label {
    padding-bottom: 4px;
}

.btn {
    width: inherit;
    background-color: royalblue;
    color: white;
    width: 150px;
    padding: 4px;
    border-radius: 20px;
}

footer {
    display: inline-block;
}